# Python version: 3.11.9
# Core Data & ML
pandas==3.0.2
numpy==2.4.4
scikit-learn==1.8.0
joblib==1.5.3

# Visualization & Stats
matplotlib==3.10.8
seaborn==0.13.2
statsmodels==0.14.6

# Job Matching (ONNX & FAISS)
onnxruntime==1.21.0
optimum[onnxruntime]==1.23.3
transformers==4.49.0
faiss-cpu==1.10.0

# Database & Environment
mysql-connector-python==9.6.0
python-dotenv==1.2.2
